[submodule "libft"]
	path = libft
	url = git@github.com:hecikmc/libft-42cursus.git
[submodule "ft_printf"]
	path = ft_printf
	url = git@github.com:hecikmc/ft_printf-42cursus.git
[submodule "get_next_line"]
	path = get_next_line
	url = git@github.com:hecikmc/get_next_line-42cursus.git
[submodule "pipex"]
	path = pipex
	url = git@github.com:hecikmc/pipex-42cursus.git
[submodule "push_swap"]
	path = push_swap
	url = git@github.com:hecikmc/push_swap-42Cursus.git
